@charset "UTF-8";
/* Body */
body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
.game-end {
	background-color: #24b3ce;
}
.greatjob {
	background-color: #24b3ce;
	padding: 30px 0;
	text-align: center;
}



/* Font formatting */

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 130%;
	text-align: left;

	color: #11517a;
}
h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 100%;
	color: #24b3ce;
	text-transform: uppercase;
	text-align: left;
}





p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 105%;
	color: #24b3ce;
	text-align: left;
}
#memory-left p {
	font-size: 160%;
	line-height: 130%;
	color: #ffffff;
}


/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
		background-color: #FFFFFF;
}
/* Navigation */

#back
{
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: absolute;
	bottom: 10px;
	left: 0px;
}

#logo 
{
	margin-left: 100px;
	width: 600px;
	height: 58%;
}


/* Home page  */
.home {
	background-color: #B3B3B3;
	background-repeat: no-repeat;
	background-image: url(../images/home.jpg);
	max-width: 1920px;
	height:1080px;
}


#game-block {
	width: 100%;
	float: right;
}

#game-band {
	background-color: #ffffff;
	float: right;
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
	padding: 20px;
}

#game-band img
{padding:20px; float:left;
}


 #info-links img
{padding:10px; float:left;
}


#info-links
{
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: absolute;
	bottom: 10px;
	right: 0px;

}
#partnership
{
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 50px;
	padding-bottom: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: absolute;
	bottom: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 105%;
	text-align: left;
	font-weight: 600;
	width: 70%;

}

/* Memory Page  */

.memory
{
	background-repeat: no-repeat;
	background-image: url(../images/blue-circle_bg.png);
	max-width: 1920px;
	text-align: center;
	height: 1080px;
}
#memorytitle, #triviatitle {
	width: 97%;
	padding-left: 3%;
	text-align: left;
	padding-top: 0px;
}
#memory-left {
	width: 23%;
	float: left;
	padding: 2%;
	background-color: #012337;
}
#memory-right {
	float: right;
	background-color: #012337;
	padding: 1%;
	width: 77%;
}



#memoryblock
{
	top: 60%;
	padding-top: 10px;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 10px;
	position: absolute;
	background-color: #11517a;
	width: 90%;
}



/* Memory Game  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
	    -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  position: relative;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 200px;
  width: 200px;
}

.back,
.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  background: #012337 url('../images/match/Match_.jpg') no-repeat center center / contain;
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #6589F9;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.match .front {
  background: #012337 url('../images/match/Match_0.jpg') no-repeat center center / contain;
}


/* Flying Game  */
.flying

{
	background-color: #B3B3B3;
	background-repeat: no-repeat;
	background-image: url(../images/home_flying.jpg);
	height: 1080px;
	max-width: 1920px;
	text-align: center;
}

#flyingblock
{
	top: 60%;
	padding-top: 10px;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 10px;
	position: absolute;
	background-color: #11517a;
	width: 100%;
}


.flyingtext
{
	color: #ffffff;
	text-align: left;
	font-size: 300%;
	font-weight: 300;

}

#startButton{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%; 
	height: 100%;
	border-radius: 15px; 
	font-size: 24px;
	background-color:transparent;
	border: none;
 }

/* Trivia  */

.trivia
{
	background-color: #B3B3B3;
	background-repeat: no-repeat;
	background-image: url(../images/trivia_home.jpg);
	height: 1080px;
	max-width: 1920px;
	text-align: center;
}
#trivia {
	top: 50%;
	padding: 10px 25% 10px 10%;
	position: absolute;
}

.triviatext
{
	color: #ffffff;
	text-align: center;
	font-size: 300%;
	font-weight: 300;

}

/* Trivia Game  */

.triviagame
{
	background-color: #B3B3B3;
	background-repeat: no-repeat;
	background-image: url(../images/airport-trivia_bg.jpg);
	height: 1080px;
	max-width: 1920px;
	text-align: center;
}

#triviacontent
{
	width: 60%;
	padding-top: 250px;
	margin-left: 40px;
}


#triviacontent h2 {
	font-size: 200%;
}
#triviacontent  p {
	font-size: 150%;
	line-height: 135%;
}
.questions ul li {
	color: #666666;
	display: block;
	position: relative;
	float: left;
	width: 100%;
	border-bottom: 1px solid #4082B2;
	font-size: 150%;
	padding-top: 2px;
	padding-right: 25px;
	padding-left: 30px;
	padding-bottom: 15px;
	margin: 10px auto;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
}


input[type="radio"] {
  margin-right: 20px;
}

.message li 
{line-height:150%;
margin-bottom:4px;
padding-left:-50px;
}


.questions {
	display: block;
	position: relative;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	height: auto;
	padding: 15px;
}
  
.questions  ul{
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
	text-align:left;
}

  input[type='radio']:after {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        top: -6px;
        left: -6px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	top: -10px;
	left: -10px;
	position: relative;
	background-color: #209BF4;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
    }


#triviacontent  .button {
	background-color: #EF4023; /* orange */
	border: none;
	color: white;
	padding: 15px 32px;
	margin-top:10px;
	text-align: left!important;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
		font-family: 'Roboto Condensed', sans-serif;

}


  

  


/* About  */

.about {
	background-color: #B3B3B3;
	background-repeat: no-repeat;
	background-image: url(../images/about_program.jpg);
	height: 1080px;
	max-width: 1920px;
	text-align: center;
	width:100%;
}

/* Credits */

.credits {
	background-color: #B3B3B3;
	background-repeat: no-repeat;
	background-image: url(../images/credits.jpg);
	height: 1080px;
	max-width: 1920px;
	text-align: center;
}

/* Map */

.map {
	background-color: #B3B3B3;
	background-repeat: no-repeat;
	height: 1080px;
	max-width: 1920px;
	text-align: center;
}
.map img 
{width:100%;
max-height:1080px;
}

/* Thank you - coupon page */

.greatjob h2 {
font-family: 'Roboto Condensed', sans-serif; 	font-size: 180%; 	font-weight: 700;	color: #ffffff;	text-transform: uppercase;
	text-align: center;}
	
.greatjob .score {
font-family: 'Roboto Condensed', sans-serif; 	font-size: 160%; 	font-weight: 700;	color: #ffffff;	text-transform: uppercase;
	text-align: center;}
.greatjob .coupon {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 160%;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	line-height: 140%;
}

.disclaimer {
	width:80%; margin:0 auto;
	}
	.disclaimer p {
			text-align: center;
			color: #ffffff;	text-transform: none;font-size: 100%; font-weight: 400;	font-family: 'Roboto Condensed', sans-serif; 		


	}
	
#couponsection {
	background-color: #ef4323;
	margin: 20px 0;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}




/* Mobile */
@media (max-width: 320px) {


}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {


}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {


}